<!DOCTYPE html>
<html lang="en">
<head>
    <title>First Flask App Results</title>
    <!-- <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>
        These are similar-tasting wines.
    </h1>
    
    <!-- {{similar_user_top}} -->
    {% for table in tables %}
        <!-- {{columns[loop.index]}} -->
        {{ table|safe }}
    {% endfor %}

    <!-- You are user {{ user_exist  }} -->
    <!-- We predict that this wine is from class {{ predicted_class }} -->
    <br>

    <!-- <img src="{{ url_for('static', filename='upward_sloping_chart.png') }}" alt=""> -->

    <a href="/">Go back home</a>
</body>
</html>